.about-us-img{
    background-image: url('../../../assets/images/xabout-us-banner-top.jpg.pagespeed.ic.rMjtq0TvF6.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 19% 0;
    text-align: center;
}
.about-us-img h1 {
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: -3px;
    margin-top: 40px
}
.about-us-info {
    text-align: center;
    padding: 0 5.5%;
}
.about-us-info h3 {
    font-size: 40px;
    line-height: 3;
    font-weight: 400;
}
.about-us-info p {
    font-size: 19px;
    color: black;
    margin-bottom: 35px;
    font-weight: 500;
}
.row{
    margin: 0;
}
.about-info{
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-info img {
    border: 25px solid #f2f2f2;
    border-radius: 210px;
}
.about-content{
    margin-top: 30px;
}
.about-content p {
    font-size: 19px;
    padding: 0 42px 0 0;
    font-weight: 500;
    color: #585e67;
}
.center{
    text-align: center;
}
.techplans-ceo {
    text-align: center;
    padding: 0 7%;
}
.techplans-ceo h3 {
    color: #00bcd4;
    line-height: 1;
}
.techplans-ceo h2 {
    margin-bottom: 39px;
}
.techplans-ceo h6 {
    font-size: 17px;
    color: #908d8d;
}
.join-team{
    background-image: url('../../../assets/images/our-team.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20% 0;
    text-align: center;
    color: white;
    margin-bottom: 4%;
    margin-top: 4%;
}
.join-team p {
    font-size: 21px;
    font-weight: 500;
}
.join-team h2 {
    font-size: 42px;
}
.btn-outline-primary {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
}
@media only screen and (max-width: 600px) {
    .about-info img{
        width: 100%;
    }
    .about-us-info h3{
        font-size: 10vw;
    }
    .about-us-info p{
        font-size: 16px;
    }
    .about-us-img h1{
        letter-spacing: unset;
        font-size: 4.5vw;
    }
    .about-content p{
        font-size: 14px;
        padding: unset;
    }
    .techplans-ceo h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .join-team h2{
        font-size: 20px;
    }
    .join-team p{
        font-size: 13px;
    }
    .btn-outline-primary{
        padding: 5px;
        font-size: 13px;
    }
    .join-team{
        padding: 10% 0;
    }
}