<div class="mt-5">
  <div class="about-us-img">
    <h1>{{FeatureText}}</h1>
</div>
</div>
<div class="about-us-info">
  <h3>{{AboutUs}}</h3>
  <p>
    {{AboutUsText}}
  </p>
</div>
<div class="about-info">
  <div class="row">
      <div class="col-md-6 center">
        <img src="../../../assets/images/about-info.png.pagespeed.ic.4vTU-VmLMq.png">
      </div>
      <div class="col-md-6">
        <div class="about-content">
          <p>
              {{AboutUsText1}}
          </p>
          <br>
          <p>
              {{AboutUsText2}}
          </p>
          <br>
          <p>
            {{AboutUsText3}}
          </p>
        </div>
      </div>
    </div>
</div>
<div class="techplans-ceo">
  <h2>
      {{ManagerQuote}}
  </h2>
  <h3>{{CEOName}}</h3>
  <h6>{{Post}}</h6>
</div>
<div class="join-team">
  <h2>Join our Team</h2>
  <p>
    People rarely succeed unless they have fun in
    what they are doing
  </p>
  <button class="btn btn-outline-primary">JOIN OUR TEAM</button>
</div>