<div class="our-work">
  <h1>Ideas that change <br> perspectives,<br> forever.</h1>
  <p>We strive to deliver the best work for every single project. Here's a few of them we'd like you to see.</p>
</div>
<div class="our-work-content text-center">
  <h3>Case Studies</h3>
  <p>We’ve had the preference of working with excellent clients that are pushing their industry’s boundaries.</p>
  <div class="container">
    <div class="row">
      <div class="col-sm border-bottom-dot border-right-dot">
        <a href="#"><img src="../../../assets/images/Final_Logo.png" width="300px"></a>
      </div>
      <div class="col-sm border-bottom-dot border-right-dot">
        <a href="#"><img src="../../../assets/images/Alm-logo.png" width="300px"></a>
      </div>
      <div class="col-sm border-bottom-dot">
        <a href="#"><img src="../../../assets/images/lab-logo.png" width="170px"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm border-right-dot">
        <a href="#"><img src="../../../assets/images/mega-trasnfer.png" width="300px"></a>
      </div>
      <div class="col-sm border-right-dot">
        <a href="#"><img src="../../../assets/images/traveling-logo.jpg" width="170px"></a>
      </div>
      <div class="col-sm">
        <a href="#"><img src="../../../assets/images/pidm-logo.png" width="170px"></a>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-5">View All</button>
</div>
<app-project-form></app-project-form>