<nav id="navbar" class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand ml-3" routerLink="/"><img src="../../../assets/images/logo.svg"></a>
  <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" routerLinkActive>
      <li class="nav-item cool-link">
        <a class="nav-link " routerLink="/about">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" routerLink="/what-we-do">What We Do</a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" routerLink="we-work-with">We Work With</a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" routerLink="our-work">Our Work</a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" routerLink="career">Career</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary mr-3">Get Free Estimation <i class="fa fa-arrow-right ml-2"></i></button>
      <br><br>
      <div class="facebook">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="skype">
        <a href="#"><i class="fab fa-skype"></i></a>
      </div>
      <div class="linkedin">
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="googleplus">
        <a href="#"><i class="fab fa-google-plus-square"></i></a>
      </div>
    </form>
  </div>
</nav>
<!-- <app-slider></app-slider> -->
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>