<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand ml-3" href="#"><img src="../../../assets/images/logo.svg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item cool-link">
        <a class="nav-link " href="#">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" href="#">What We Do</a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" href="#">We Work With</a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" href="#">Our Work</a>
      </li>
      <li class="nav-item cool-link">
        <a class="nav-link" href="#">Career</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary mr-3">Get Free Estimation <i class="fa fa-arrow-right ml-2"></i></button>
      <br><br>
      <div class="facebook">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="skype">
        <a href="#"><i class="fab fa-skype"></i></a>
      </div>
      <div class="linkedin">
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="googleplus">
        <a href="#"><i class="fab fa-google-plus-square"></i></a>
      </div>
    </form>
  </div>
</nav>
<app-slider></app-slider>