.mr-auto, .mx-auto {
    margin: 0 auto;
}
.top-header {
    background: #373d44;
    padding: 3px 18px;
}
.phone span {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-left: 9px;
}
.phone {
    width: 220px;
    float: left;
}
.social-icons {
    float: right;
}
.social-icons i {
    margin-left: 25px;
    color: #fff;
    font-size: 22px;
}
.social-icons i:hover{
    color: #00bcd4;
}
.logo {
    width: 254px;
}
.navbar{
    box-shadow: 0 0 3px 1px #f5f5f5 !important;
    background: #F6F6F6;    
    min-height: 70px;
    width: 100%;
    padding: 0 20px;
}
.btn-primary {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    height: 52px;
    padding: 0 15px;
    border-radius: 225px 45px 325px 75px/15px 125px 35px 155px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 17px;
    color: #252b33;
    font-weight: 700;
    transition: all .3s ease-in-out;
    position: relative;
    padding: 12px 20px;
    font-family: sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #00bcd4;
}
.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #00bcd4;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}
.fab {
    font-family: "Font Awesome 5 Brands";
    font-size: 28px;
    padding: 3px;
    color: #00bcd4;
}
.fa-google-plus-square{
    color: #e34b40;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-skype{
    color: #00aff0;
}
.fa-facebook{
    color: #3b579d;
}
.fa-envelope{
    color: #f14336;
    font-size: 28px;
    padding: 3px;
}
.fa-whatsapp{
    color: #fff;
    margin-top: -5px;
}
.whatsapp {
    font-size: 18px;
    font-weight: 500;
    line-height: 2.6;
    border: 2px solid #67d070;
    padding: 0 10px;
    border-radius: 35px;
    color: #fff;
    background: #67d070;
    border-radius: 225px 45px 325px 75px/15px 125px 35px 155px;
}
.phone i {
    color: #fff;
    font-size: 18px;
}
@media only screen and (max-width: 770px) {
    .top-header{
        text-align: center;
    }
    .social-icons {
        float: unset;
    }
    .phone{
        float: unset;
        width: unset;
    }
    .navbar{
        padding: 0;
        min-height: unset;
    }
    .navbar-collapse{
        background: #373d44 !important;
        padding: 10px;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #fff;
        text-align: center;
    }
    .navbar .btn-primary{
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
    .btn-primary{
        font-size: 14px;
    }
}