<img class="mt-5" src="assets/images/slider.jpg" width="100%">
<div class="app-dev mt-5 circle">
	<div class="row">
		<div class="col-md-6">
			<div class="app-text">
				<h3 class="gradient-text">{{AppHeading}}</h3>
				<p>
					{{AppText}}
				</p>
				<button type="button" class="btn btn-outline-info">VIEW MORE</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="app-img">
				<div class="app align-center">
					<img src="assets/images/mobile new.png" alt="Mobile App Development">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="app-dev mt-5 circle">
	<div class="row">
		<div class="col-md-6">
			<div class="app-img display">
				<div class="app">
					<img  src="assets/images/web new.png" alt="Web Development">
				</div>
			</div>
    </div>
		<div class="col-md-6">
			<div class="app-text">
				<h3 class="gradient-text">{{WebHeading}}</h3>
				<p>
					{{WebText}}
				</p>
				<button type="button" class="btn btn-outline-info">VIEW MORE</button>
			</div>
		</div>
	</div>
</div>
<div class="app-img show">
  <div class="app">
    <img src="assets/images/web new.png" alt="Web Development">
  </div>
</div>
<div class="app-dev mt-5 circle">
	<div class="row">
		<div class="col-md-6">
			<div class="app-text">
				<h3 class="gradient-text">{{UiHeading}}</h3>
				<p>
					{{UiText}}
				</p>
				<button type="button" class="btn btn-outline-info">VIEW MORE</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="app-img">
				<div class="app align-center">
					<img src="../../../assets/images/ui ux new.png" alt="UI/UX Design Analysis">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="app-dev mt-5 circle">
	<div class="row">
		<div class="col-md-6">
			<div class="app-img display">
				<div class="app">
					<img  src="../../../assets/images/about new.png" alt="about us">
				</div>
			</div>
    </div>
		<div class="col-md-6">
			<div class="app-text mt-5">
				<h3 class="gradient-text">{{AboutHeading}}</h3>
				<p>
					{{AboutText}}
				</p>
				<a routerLink="/about"><button type="button" class="btn btn-outline-info">GET TO KNOW US</button></a>
			</div>
		</div>
	</div>
</div>
<div class="app-img show circle">
  <div class="app">
    <img src="../../../assets/images/about new.png" alt="about us">
  </div>
</div>
<div class="app-dev mt-5 circle">
	<div class="row">
		<div class="col-md-6">
			<div class="app-text mt-5">
				<h3 class="gradient-text mt-5">{{StuffHeading}}</h3>
				<p>
					{{StuffText}}
				</p>
				<a routerLink="/our-work"><button type="button" class="btn btn-outline-info">OUR WORK</button></a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="app-img">
				<div class="app align-center">
					<img src="../../../assets/images/stuff new.png" alt="stuff we did">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container contact-us text-center mt-3">
	<h1>{{IdeaHeading}}</h1>
	<p>
		{{IdeaText}}
	</p>
	<a routerLink="/contact-us"><button class="btn btn-primary mt-3">CONTACT US</button></a>
</div>