<img src="assets/images/slider.jpg" width="100%">
<div class="contact-b">
	<button type="button" class="btn btn-outline-info">Contact Us</button>
</div>
<div class="app-dev mt-5">
	<div class="row">
		<div class="col-md-6">
			<div class="app-text">
				<h3 class="gradient-text">Mobile App Development</h3>
				<p>
					Our dedicated mobile app developers love creating apps and it's their passion. As a result, iOS and Android App development has been our forte for years. We help you build apps for your business, consumers and enterprise at a fixed price or can augment your current team for finite period. Thousands of clients have obtained exceptional results while working with our dedicated programmers. So far, we've launched many successful apps for companies with offshore dedicated programmers as well as for agencies when they outsource to us.
				</p>
				<button type="button" class="btn btn-outline-info">VIEW MORE</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="app-img">
				<div class="app align-center">
					<img src="assets/images/app.png">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="app-dev mt-5">
	<div class="row">
		<div class="col-md-6">
			<div class="app-img display">
				<div class="app">
					<img  src="assets/images/web.png">
				</div>
			</div>
    </div>
		<div class="col-md-6">
			<div class="app-text">
				<h3 class="gradient-text">Mobile App Development</h3>
				<p>
					Our dedicated mobile app developers love creating apps and it's their passion. As a result, iOS and Android App development has been our forte for years. We help you build apps for your business, consumers and enterprise at a fixed price or can augment your current team for finite period. Thousands of clients have obtained exceptional results while working with our dedicated programmers. So far, we've launched many successful apps for companies with offshore dedicated programmers as well as for agencies when they outsource to us.
				</p>
				<button type="button" class="btn btn-outline-info">VIEW MORE</button>
			</div>
		</div>
	</div>
</div>
<div class="app-img show">
  <div class="app">
    <img src="assets/images/web.png">
  </div>
</div>