<div class="main-banner">
	<div class="row">
		<div class="col-lg-6">
			<div class="main-banner-text">
				<h1>DIGITIZE YOUR BUSINESS <br>PROCESSES IN NO TIME</h1>
				<p>SoulAgent is an easy-to-use process design <br>and automation solution used by leading organizations</p>
				<a routerLink="/contact-us"><button type="button" class="btn btn-primary">Tell Us <img src="assets/images/arrow.png"> </button></a>
			</div>	
		</div>
		<div class="col-lg-6">
			<img class="banner-img" src="../../../assets/images/index-slider.svg">
		</div>
	</div>
</div>
<div class="home-servies-text">
	<h2>Servies We Provided</h2>
	<img src="../../../assets/images/blue-line.png">
	<img class="hand" src="../../../assets/images/icon-hand.svg">
</div>
<div class="main-services">
	<div class="row">
		<div class="col-lg-4">
			<div class="services-text">
				<h3>
					We strive to integrate tech-centred solutions into everyday life and make this planet a better place to live at!
				</h3>
				<p>
					Our team of professionals has years’ long experience and expertise to bring life to your brand and product line. Our services are highly customized around users’ preferences and experiences.
				</p>
				<p>
					Our team of professionals has years’ long experience and expertise to bring life to your brand and product line. Our services are highly customized around users’ preferences and experiences.
				</p>
				<button type="button" class="btn btn-outline-info">Learn More</button>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
					<div class="web all-services pulse">
						<img src="assets/images/web1.png">
						<h2>Website Development</h2>
						<p>We present your bussines idea into professional website.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
					<div class="android all-services">
						<img src="assets/images/android.png">
						<h2>Android Development</h2>
						<p>We make native and hyberd App's and make your dreams ture.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
					<div class="ios all-services">
						<img src="assets/images/iphone.png">
						<h2>IOS Development</h2>
						<p>We can shelf your complex service in an easy-to-use business application.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
					<div class="design all-services">
						<img src="assets/images/design.png">
						<h2>Graphic Designing</h2>
						<p>We strive to place your brand in a creative yet information way.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
					<div class="content all-services">
						<img src="assets/images/content.png">
						<h2>Content Creation</h2>
						<p>Words value. Get your words count by hiring our experienced content writers.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 align-self-start">
					<div class="marketing all-services">
						<img src="assets/images/marketing.png">
						<h2>Degital Marketing</h2>
						<p>We enliven your social media presence.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="about-tech">
	<div class="row">
		<div class="col-lg-9">
			<div class="about-us-home-text">
				<h1>What <br> about us</h1>
				<img src="../../../assets/images/blue-line.png" alt="">
				<img class="hand" src="../../../assets/images/icon-hand.svg">
				<p>We design and develop websites, web shops, mobile apps, digital campaigns, system integrations and customized software of the highest level. Designs that are meticulously thought out to the pixel and are of this time. Today's software, ready for tomorrow's technology.</p>
				<a routerLink="/about"><button class="btn btn-outline-primary">About</button></a>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="about-us-home-img">
				<img src="../../../assets/images/base.jpg">
			</div>
		</div>
	</div>
</div>
<div class="portfolio-sec-home">
	<h1>Our smile <br>is powerd by</h1>
	<img src="../../../assets/images/blue-line.png">
	<img class="hand" src="../../../assets/images/icon-hand.svg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-logo">
					<img src="../../../assets/images/Final_Logo.png" alt="ipSupportOnline" width="300px">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-logo">
					<img src="../../../assets/images/revulent.png" alt="MegaTransfer" width="300px">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-logo">
					<img src="../../../assets/images/sachibaat-logo.png" alt="SachiBaat" width="300px">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-logo">
					<img src="../../../assets/images/amanah-new-logo.png" alt="Amanah Mall" width="190px">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-logo">
					<img src="../../../assets/images/lab-logo.png" alt="Labaike" width="190px">
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-logo">
					<img src="../../../assets/images/pidm-logo.png" alt="PIDM" width="190px">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container contact-us text-center mt-3">
	<h1>{{IdeaHeading}}</h1>
	<p>
		{{IdeaText}}
	</p>
	<a routerLink="/contact-us"><button class="btn btn-primary mt-3">Let's  Start Your Project</button></a>
</div>

