<div class="career-feature">
    <h1>WE BELIEVE THAT THE RAW <br> TALENT HAS NO BOUNDARIES</h1>
    <p>
        Joining IndiaNIC means so much more than working for a reputed app development company in India.
        We've built this business with the passion for innovation and a flexible approach in what we do.
        That's why we keep our eyes and ears open for smart people who get things done.
    </p>
    <h3>Hire character. Train skill.</h3>
    <span>Usama Sohail</span>
</div>
<div class="careers-text text-center">
    <h3>We don’t offer Jobs. We offer Careers.</h3>
    <p>
        The secret of our success is the people we recruit – and we’re looking for the best. We’re always
        looking for people who can bring new perspectives to our teams. If you want to be part of a team that
        values your enthusiasm, passion, and creativity, 
        if you’re seeking colleagues who are big thinkers, eager to take on fresh challenges as a team,
        apply below.
    </p>
</div>
<div class="career">
    <div class="offer-career border">
        <h5>4 YEARS EXPERIENCE</h5>
        <h3>Wordpress Developer</h3>
        <p>
            Looking for a professional wordpress developer who has worked on wordpress themes and plugin development.
             Other skills Include php, mysql, ajax, html, css and JS.
        </p>
        <div class="row">
            <div class="col-sm icons">
                <span>SHARE JOB </span>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="col-sm">
                <button class="btn btn-outline-info">CAREERS@TECHPLANS.ORG</button>
            </div>
        </div>
    </div>
</div>
<div class="career">
        <div class="offer-career border">
            <h5>MORE THAN 3 YEARS EXPEREINCE</h5>
            <h3>BackEnd PHP Developer</h3>
            <p>
                Experience of MVC frameworks, Laravel, CodeIgniter and Zend.Strong command on, Native JavaScript, 
                preferred libraries are (jQuery, Backbone.js) Must be capable of making CMS based templates.
            </p>
            <div class="row">
                <div class="col-sm icons">
                    <span>SHARE JOB </span>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
                <div class="col-sm">
                    <button class="btn btn-outline-info">CAREERS@TECHPLANS.ORG</button>
                </div>
            </div>
        </div>
    </div>