<div class="mt-5 what-we-do">
  <h1>Transforming Ideas. Digitally.</h1>
  <p>
    Transforming Ideas. Digitally.
    Seeing the clients passionate about their idea makes us excited. We always look for
    new ways to provide solutions and create a better product.
  </p>
</div>
<div class="show">
  <img src="../../../assets/images/responsive-app.png" width="100%">
</div>
<div class="app-content">
  <div class="row">
    <div class="col-md-6 absolute">
      <h2>Mobile Apps Development</h2>
      <p>
        From B2B or B2E apps for enterprises, small businesses, and startups, we have a proven track
        record of creating high-impact, result driven and engaging mobile apps on all popular platforms
        with Native, Cross-Platform, and Hybrid Technologies.
      </p>
      <div class="technology-icon">
        <span class="apple-icon">
          <span class="apple-text">Apple</span>  
          <i class="fab fa-apple"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Android</span>  
          <i class="fab fa-android"></i>
        </span>
      </div>
      <div class="row">
        <div class="col-sm">
          <ul class="technology-list">
            <li>Mobile Strategy</li>
            <li>Idea to Prototype</li>
            <li>iOS App Development</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="technology-list">
            <li>Cross Platform AppsI</li>
            <li>Hybrid Apps</li>
            <li>Android App Development</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline-primary mt-4">LEARN MORE</button>
    </div>
  </div>
</div>
<div class="show">
  <img src="../../../assets/images/responsive-web.png" width="100%">
</div>
<div class="web-content">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 absolute">
      <h2>Web Development</h2>
      <p>
        The web is here to stay. We’ve been working with robust and popular web technologies for just about two 
        decades, and it’s something we still love doing today. Whether creating a web presence for your company,
         an information hub for your business or empowering your apps / IoT devices through backend – we cover
         a wide spectrum of solutions and frameworks by leveraging the power of the internet.
      </p>
      <div class="technology-icon">
        <span class="apple-icon">
          <span class="apple-text">HTML5</span>  
          <i class="fab fa-html5"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">CSS3</span>  
          <i class="fab fa-css3"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Java</span>  
          <i class="fab fa-java"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">WordPress</span>  
          <i class="fab fa-wordpress-simple"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Joomla</span>  
          <i class="fab fa-joomla"></i>
        </span>
        <br class="show">
        <span class="apple-icon">
          <span class="apple-text">Magento</span>  
          <i class="fab fa-magento"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Mongo DB</span>  
          <i class="fab fa-envira"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Angular.Js</span>  
          <i class="fab fa-angular"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Node.Js</span>  
          <i class="fab fa-node"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">React.Js</span>  
          <i class="fab fa-react"></i>
        </span>
      </div>
      <div class="row">
        <div class="col-sm">
          <ul class="technology-list">
            <li>Content Management System</li>
            <li>Mobile Backend / API Development</li>
            <li>Full Stack Development Teams</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="technology-list">
            <li>CRM Application</li>
            <li>ERP Software</li>
            <li>E-Commerce</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline-primary mt-4">LEARN MORE</button>
    </div>
  </div>
</div>
<div class="show">
  <img src="../../../assets/images/responsive-ui.png" width="100%">
</div>
<div class="ui-content">
  <div class="row">
    <div class="col-md-6 absolute">
      <h2>UI/UX Design Analysis</h2>
      <p>
        From B2B or B2E apps for enterprises, small businesses, and startups, we have a proven track
        record of creating high-impact, result driven and engaging mobile apps on all popular platforms
        with Native, Cross-Platform, and Hybrid Technologies.
      </p>
      <div class="technology-icon">
        <span class="apple-icon">
          <span class="apple-text">Sketch</span>  
          <i class="fab fa-sketch"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Adobe PS & Ai</span>  
          <i class="fab fa-adobe"></i>
        </span>
        <span class="apple-icon">
          <span class="apple-text">Invision</span>  
          <i class="fab fa-invision"></i>
        </span>
      </div>
      <div class="row">
        <div class="col-sm">
          <ul class="technology-list">
            <li>Wireframes</li>
            <li>Information Architecture</li>
            <li>High / Low fidelity Prototype</li>
          </ul>
        </div>
        <div class="col-sm">
          <ul class="technology-list">
            <li>UI Design</li>
            <li>UX Analysis</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline-primary mt-4">LEARN MORE</button>
    </div>
  </div>
</div>
<app-project-form></app-project-form>
