<div class="mt-5 what-we-do">
  <h1>Transforming Ideas. Digitally.</h1>
  <p>
    Transforming Ideas. Digitally.
    Seeing the clients passionate about their idea makes us excited. We always look for
    new ways to provide solutions and create a better product.
  </p>
</div>
<div class="app-content">
  <div class="row">
    <div class="col-md-6 absolute">
      <h2>Mobile Apps Development</h2>
      <p>
        From B2B or B2E apps for enterprises, small businesses, and startups, we have a proven track
        record of creating high-impact, result driven and engaging mobile apps on all popular platforms
        with Native, Cross-Platform, and Hybrid Technologies.
      </p>
      <div class="technology-icon">
        <i class="fab fa-apple "></i>
        <i class="fab fa-android"></i>
      </div>
      <div class="row">
        <div class="col">
          <ul class="technology-list">
            <li>Mobile Strategy</li>
            <li>Idea to Prototype</li>
            <li>iOS App Development</li>
          </ul>
        </div>
        <div class="col">
          <ul class="technology-list">
            <li>Cross Platform AppsI</li>
            <li>Hybrid Apps</li>
            <li>Android App Development</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline-primary mt-5">LEARN MORE</button>
    </div>
  </div>
</div>
<div class="web-content">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 absolute">
      <h2>Mobile Apps Development</h2>
      <p>
        From B2B or B2E apps for enterprises, small businesses, and startups, we have a proven track
        record of creating high-impact, result driven and engaging mobile apps on all popular platforms
        with Native, Cross-Platform, and Hybrid Technologies.
      </p>
      <div class="technology-icon">
        <i class="fab fa-apple "></i>
        <i class="fab fa-android"></i>
      </div>
      <div class="row">
        <div class="col">
          <ul class="technology-list">
            <li>Mobile Strategy</li>
            <li>Idea to Prototype</li>
            <li>iOS App Development</li>
          </ul>
        </div>
        <div class="col">
          <ul class="technology-list">
            <li>Cross Platform AppsI</li>
            <li>Hybrid Apps</li>
            <li>Android App Development</li>
          </ul>
        </div>
      </div>
      <button class="btn btn-outline-primary mt-5">LEARN MORE</button>
    </div>
  </div>
</div>