<footer>
  <a routerLink="/"><img src="assets/images/logo.png"></a>
  <div class="row">
    <div class="col-md-3">
      <ul class="footer-ul">
        <li><a href="">Web Development</a></li>
        <li><a href="">Mobile Apps</a></li>
        <li><a href="">UX/UI Analysis</a></li>
        <li><a href="">Branding</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="footer-ul">
        <li><a routerLink="/what-we-do">What We Do</a></li>
        <li><a routerLink="/our-work">We Work With</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="footer-ul">
        <li><a href="">SEO</a></li>
        <li><a href="">Branding</a></li>
        <li><a href="">Social Media Marketing</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Contacts</h5>
      <ul class="footer-ul">
        <li><i class="fa fa-phone-volume"></i>&nbsp;&nbsp; +92-302-7574216</li>
        <li><i class="fa fa-phone-volume"></i>&nbsp;&nbsp; +92-309-4466432</li>
        <li><i class="fa fa-envelope-open-text"></i>&nbsp;&nbsp; info@soulgent.org</li>
      </ul>
    </div>
  </div>
  <div class="copy-rights">
    <div class="row">
      <div class="col-md-6">
        (C)2019, <a routerLink="/" >SoulAgent.org</a>. All Rights Reserved.
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</footer>